@import '~/var.styl'
.topbar
  display: flex
  justify-content: space-between
  align-items: center
  height: 100%
  color: $Success
  .sidebar-icon
    transition: all .5s 
  .sidebar-icon-rocate
      transform: rotate(90deg)
      transition: all .5s 
  .title
    color: $parmary-text