@import '~/var.styl';
.form
  .title
    padding: 0 0 10px 45px
    color: $second-text
  .student-item
    position relative
    .del-button
      position: absolute
      right: 40px
      bottom: 5px
      visibility: hidden
    &:hover
      .del-button
        visibility: visible
  