.fs-10
  font-size: 10px
.fs-12
  font-size: 12px
.fs-14
  font-size: 14px
.fs-16
  font-size: 16px
.fs-18
  font-size: 18px

.pd-10
  padding: 10px
.pd-15
  padding: 15px
.pd-20
  padding: 20px
.pd-25
  padding: 25px
.pd-40
  padding: 40px

.pdl-10
  padding-left: 10px
.pdl-15
  padding-left: 15px
.pdl-20
  padding-left: 20px
.pdl-25
  padding-left: 25px
.pdl-40
  padding-left: 40px

.pdr-10
  padding-right: 10px
.pdr-15
  padding-right: 15px
.pdr-20
  padding-right: 20px
.pdr-25
  padding-right: 25px
.pdr-40
  padding-right: 40px

.pdt-10
  padding-top: 10px
.pdt-15
  padding-top: 15px
.pdt-20
  padding-top: 20px
.pdt-25
  padding-top: 25px
.pdt-40
  padding-top: 40px
  
.pdb-10
  padding-bottom: 10px
.pdb-15
  padding-bottom: 15px
.pdb-20
  padding-bottom: 20px
.pdb-25
  padding-bottom: 25px
.pdb-40
  padding-bottom: 40px

.mg-10
  margin: 10px
.mg-15
  margin: 15px
.mg-20
  margin: 20px
.mg-25
  margin: 25px
.mg-40
  margin: 40px

.mgl-5
  margin-left: 5px
.mgl-10
  margin-left: 10px 
.mgl-15
  margin-left: 15px 
.mgl-20
  margin-left: 20px 
.mgl-25
  margin-left: 25px 
.mgl-38
  margin-left: 38px 
.mgl-40
  margin-left: 40px 

.mgr-5
  margin-right: 5px
.mgr-10
  margin-right: 10px 
.mgr-15
  margin-right: 15px 
.mgr-20
  margin-right: 20px 
.mgr-25
  margin-right: 25px 
.mgr-38
  margin-right: 38px 
.mgr-40
  margin-right: 40px 

.mgt-10
  margin-top: 10px 
.mgt-15
  margin-top: 15px 
.mgt-20
  margin-top: 20px 
.mgt-25
  margin-top: 25px 
.mgt-40
  margin-top: 40px 

.mgb-10
  margin-bottom: 10px 
.mgb-15
  margin-bottom: 15px 
.mgb-20
  margin-bottom: 20px 
.mgb-25
  margin-bottom: 25px 
.mgb-40
  margin-bottom: 40px 

.pointer
  cursor pointer

.not-pointer
  cursor: not-allowed

.flex
  display: flex
  align-items: center
  justify-content: space-between

.text-center
  text-align: center

.position-r
  position relative

.height-100
  height: 100%
