@import '~/var.styl';
.home 
  background: #f5f5f5
  height: 100%
  .topbar
    height: 45px
    line-height: 45px
    text-align: center
    border-bottom: 1px solid #DCDFE6
    color: $Success
  .main
    height: calc(100% - 45px)
    display: flex
    .sidebar
      width: 150px
      height: 100%
      border-right: 1px solid #E4E7ED
    .routerContent
      flex: 1
      height: 100%
    
    .detail
      color: $Info
      font-size: 13px
      line-height: 18px


