@import '~/var.styl';
.home 
  background: $bg-whit
  height: 100%
  .container-main
    height: 100%
    .container-view
      height: calc(100% - 90px)
  .el-header 
    padding: 0 40px 0 20px;
    border-bottom: 1px solid $primary-border;
  .el-main 
    padding: 0;
  .el-footer
    background: $bg-white
  


